@import "/app/globals.scss";
.menu {
  background-color: white;
  position: fixed;
  width: 18%;
  height: 100vh;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  gap: 2rem;
  font-size: 1rem;
  z-index: 1030;
  img {
    width: 100%;
    height: auto;
  }
  &_links {
    display: flex;
    flex-direction: column;
    li {
      list-style-type: none;
      padding: 0.7rem 1rem;
      a {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }
    .current {
      background-color: $secondary-color;
      border-radius: 10px;
    }
    li:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}

@media (max-width: 1000px) {
  .logo {
    content: url("/imgs/logo_small_png.png");
    height: 100px;
    width: 100px;
  }
  .menu {
    width: 110px;
    position: fixed;
    padding: 0.5rem 1rem;
    gap: 1rem;
    .title {
      display: none;
    }
    &_links {
      text-align: center;
      align-items: center;
    }
  }
}

@media (max-width: 480px) {
}
