@import '/app/globals.scss';

.todo {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &_title {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &_wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    &_list {
      display: grid;
      grid-template-columns: 40% 50%;
      gap: 1rem;
      align-items: center;
      &_detail {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        &_form {
          display: flex;
          gap: 0.5rem;
        }
      }
      .complete {
        padding: 0.3rem 1rem;
        border-radius: 5px;
        color: $gray;
        background-color: $finished;
      }
      .ongoing {
        padding: 0.3rem 1rem;
        border-radius: 5px;
        color: $green;
        border-radius: 5px;

        background-color: $ongoing;
        color: $secondary-color;
      }
      .complete:hover {
        background-color: $highlight-color;
        color: white;
      }
      .ongoing:hover {
        background-color: $highlight-color;
        color: white;
      }
    }
  }
}

.todocalender_popup {
  display: none;
}
.todocalender_popup_selected {
  display: block;
  position: fixed;
  width: 100%;
  top: 30%;
  left: 55%;
  &_wrap {
    overflow: hidden;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    border: 2px solid $primary-color;
    gap: 1rem;
    h2 {
      margin-top: 1rem;
      color: $primary-color;
    }
    .close {
      border-radius: 10px;
      margin-bottom: 1rem;
      padding: 0.5rem;
      background-color: $secondary-color;
    }
    .close:hover {
      background-color: $primary-color;
      color: white;
    }
    &_btn {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    &_form {
      display: flex;
      gap: 1rem;
      align-items: last baseline;
    }
  }
}

.todo_btn {
  &_add {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
  }
  &_add:hover {
    background-color: $primary-color;
    color: white;
    border: 1px solid $secondary-color;
  }
}
