@import 'react-calendar/dist/Calendar.css';
@import 'react-datepicker/dist/react-datepicker.css';

$primary-color: #416c64;
$secondary-color: #d7eae7;
$highlight-color: #6d9b92;
$ongoing: #416c64;
$upcoming: #d7eae7;
$finished: #e9edf1;
$delete: #f0e8e6;

$gray: #4f5159;
$blue: #010e54;
$red: #b94545;
$green: #457356;
$purple: #9b61a2;
$light-orange: #fae5e4;
$light-pink: #fcedf5;
$light-blue: #daeaf7;
$light-gray: #e9edf1;
$light-purple: #f6ecf9;
$light-green: #dceedc;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  height: 100%;
  font-size: 16px;
  background-color: white;
  color: $gray;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
}
button:hover {
  border: none;
  cursor: pointer;
}

select {
  padding: 0.5rem;
  color: $gray;
  border: 1px solid $primary-color;
  border-radius: 5px;
  width: fit-content;
}

input {
  font-size: 1rem;
  border: 1px solid $primary-color;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 5px;
}
input[type='checkbox'] {
  border: 1px solid $primary-color;
}
input[type='checkbox']:checked {
  border: 1px solid $primary-color;
  accent-color: $primary-color;
}

.body {
  display: flex;
  .body_left {
    width: 18%;
  }
  .body_right {
    width: 82%;

    main {
      margin-top: 65px;
      padding: 1.5rem 2rem;
    }
  }
}

.body_mobile {
  display: none;
}

.btn-lg {
  padding: 18px 25px;
  border-radius: 10px;
}

.toast_init_popup {
  display: none;
}
.toast {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 10%;
  left: 40%;
  animation: toastFadeIn 1s ease-out;
  &_wrap {
    z-index: 100;
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    padding: 1rem 2rem;
  }
}

@keyframes toastFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.calender_popup {
  display: none;
}
.calender_popup_selected {
  display: block;
  position: fixed;
  width: 100%;
  top: 20%;
  left: 40%;
  &_wrap {
    overflow: hidden;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    border: 2px solid $primary-color;
    gap: 1rem;
    h2 {
      margin-top: 1rem;
      color: $primary-color;
    }
    .close {
      border-radius: 10px;
      margin-bottom: 1rem;
      padding: 0.5rem;
      background-color: $secondary-color;
    }
    .close:hover {
      background-color: $primary-color;
      color: white;
    }
    &_btn {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}
.react-calendar {
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid $primary-color;
  padding: 1rem;
}

.react-calendar__tile--active {
  border-radius: 5px;
  background-color: $secondary-color;
  color: $primary-color;
}
.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  border-radius: 5px;
  background-color: $primary-color;
  color: white;
}

::-webkit-scrollbar {
  width: 10px; /* Set width of the scrollbar */
  background-color: transparent; /* Set background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba($light-gray, 0.8); /* Set color of the scrollbar thumb */
  border-radius: 5px; /* Round the corners of the scrollbar thumb */
}

.react-datepicker {
  border: 1px solid $primary-color;
  border-radius: 0;
  .react-datepicker__header {
    background-color: $secondary-color;
    color: $primary-color;
    border-bottom: none;
    border-radius: 0;
    padding: 0.5rem;
    align-items: center;
  }
  .react-datepicker__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .react-datepicker__navigation-icon {
    color: $primary-color;
  }
  .react-datepicker__navigation-icon::before {
    position: absolute;
    top: -6px;
    height: 8px;
  }

  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    background-color: $secondary-color;
    color: $primary-color;
  }

  .react-datepicker__triangle {
    display: none;
  }
}

@media (max-width: 1000px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    font-size: 14px;
    max-width: 100vw;
    min-width: 725px;
  }
  .body {
    display: flex;
    .body_left {
      width: 110px;
    }
    .body_right {
      width: 100%;
    }
  }
}
.profile {
  display: grid;
  grid-template-columns: 50% 35%;
  gap: 1rem;
  &_card {
    box-shadow: $primary-color 0.5px 0.5px 2px;
    border-radius: 10px;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    min-width: 320px;
  }

  .body {
    display: none;
    overflow-x: hidden;
  }
  .body_mobile {
    display: block;
  }
}
