@import '/app/globals.scss';

.instructorcard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  &_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    img {
      border-radius: 50%;
    }
    .edit {
      padding: 0;
      border-radius: 50%;
      background-color: transparent;
    }
    .edit:hover {
      border: none;
      border-radius: 50%;
      background-color: $secondary-color;
      img {
        content: url('/imgs/edit-button.png');
        transform: scale(0.4);
        border-radius: 0;
      }
    }
    .upload {
      padding: 0;
      border-radius: 50%;
      background-color: transparent;
    }
    .upload:hover {
      border: none;
      border-radius: 50%;
      background-color: $secondary-color;
      img {
        content: url('/imgs/upload.png');
        transform: scale(0.4);
        border-radius: 0;
      }
    }
    &_detail {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      &_status {
        display: flex;
        gap: 0.5rem;
        p {
          font-size: 0.8rem;
          padding: 0.2rem 0.5rem;
          border-radius: 5px;
          width: fit-content;
        }
        .active {
          background-color: $light-green;
          color: $green;
        }
        .inActive {
          background-color: $light-gray;
          color: $gray;
        }
        .hours {
          background-color: $light-orange;
          color: $red;
        }
      }
    }
  }
  &_period {
    display: flex;
    align-items: center;
    div:nth-child(2) {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  }
  &_days {
    display: flex;
    align-items: center;
    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  }
  &_course {
    display: flex;
    align-items: center;
    div:nth-child(2) {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  }
  li {
    display: flex;
    gap: 1rem;
    div:nth-child(1) {
      width: 30%;
      font-weight: 500;
    }
    div:nth-child(2) {
      width: 70%;

      .Morning {
        background-color: $light-blue;
        color: $blue;
      }
      .Afternoon {
        background-color: $light-orange;
        color: $red;
      }
      .Evening {
        background-color: $light-gray;
        color: $gray;
      }
      .Weekend {
        background-color: $light-pink;
        color: $red;
      }
      .gray {
        background-color: $light-gray;
        color: $gray;
      }
      .blue {
        background-color: $light-blue;
        color: $blue;
      }
      .orange {
        background-color: $light-orange;
        color: $red;
      }
      .pink {
        background-color: $light-pink;
        color: $red;
      }
      .purple {
        background-color: $light-purple;
        color: $purple;
      }
      .green {
        background-color: $light-green;
        color: $green;
      }
    }
    p {
      font-size: 0.8rem;
      padding: 0.2rem 0.5rem;
      border-radius: 5px;
      width: fit-content;
    }
  }
}

.edit {
  li {
    div:nth-child(2) {
      flex-direction: column;
    }
  }
}

.init_popup {
  display: none;
}

.days_popup,
.period_popup,
.course_popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.8);
  .popup_wrap {
    border: 2px solid $primary-color;
    z-index: 100;
    width: 40vw;
    height: 50vh;
    box-shadow: $gray 0.5px 0.5px 2px;
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
    overflow-y: auto;
    h3 {
      padding-bottom: 1rem;
      text-align: center;
    }
    div {
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      flex-wrap: wrap;
      .Morning {
        background-color: $light-blue;
        color: $blue;
      }
      .Afternoon {
        background-color: $light-orange;
        color: $red;
      }
      .Evening {
        background-color: $light-gray;
        color: $gray;
      }
      .Weekend {
        background-color: $light-pink;
        color: $red;
      }
      .gray {
        background-color: $light-gray;
        color: $gray;
      }
      .blue {
        background-color: $light-blue;
        color: $blue;
      }
      .orange {
        background-color: $light-orange;
        color: $red;
      }
      .pink {
        background-color: $light-pink;
        color: $red;
      }
      .purple {
        background-color: $light-purple;
        color: $purple;
      }
      .green {
        background-color: $light-green;
        color: $green;
      }
    }
  }
}
.message {
  padding: 1rem 0;
  color: $primary-color;
  text-align: center;
}

.vacationcard {
  padding: 1rem;
  background-color: rgba($secondary-color, 0.2);
  box-shadow: $primary-color 0.5px 0.5px 2px;
  border-radius: 10px;
  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      text-align: center;
      color: $primary-color;
      padding: 1rem;
    }
    li {
      width: 100%;
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: space-between;
      border: 1px solid $secondary-color;
      margin-bottom: 0.5rem;
      border-radius: 10px;
      label {
        font-size: 0.9rem;
      }
      .Approve {
        color: $primary-color;
      }
      .Wait {
        color: $blue;
      }
    }
  }
}

.submit_popup {
  display: none;
}
.submit_popup_selected {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba($light-gray, 0.8);
  padding-top: 5em;
  padding-bottom: 5em;
  &_wrap {
    z-index: 100;
    border: 2px solid $primary-color;
    width: 40vw;
    height: 40vh;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .submit_btn {
      display: flex;
      gap: 1rem;
    }
  }
}

.instructors_btn {
  &_finishedit {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
  }
  &_finishedit:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
  &_period {
    background-color: $light-orange;
    color: $red;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  &_period:hover,
  &_period:hover::before {
    background-color: $light-orange;
    color: $red;
    content: 'Delete ? ';
  }
  &_days {
    background-color: $light-blue;
    color: $blue;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  &_days:hover,
  &_days:hover::before {
    background-color: $light-blue;
    color: $blue;
    content: 'Delete ? ';
  }
  &_course {
    background-color: $light-green;
    color: $primary-color;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  &_course:hover,
  &_course:hover::before {
    background-color: $light-green;
    color: $primary-color;
    content: 'Delete ? ';
  }
  &_add {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
  }
  &_add:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
  &_popup {
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  &_popup:hover,
  &_popup:hover::before {
    content: 'Add your profile ? ';
  }
}
