@import '/app/globals.scss';

button:focus {
  outline: none;
}

#gantt-container {
  --color-tertiary: #f7f7f7;
  --color-orange: #ef5350;
  --color-outline: #e9eaeb;
  --border-radius: 5px;
  --cell-height: 48px;
  --gray: #e3e3e3;
  --blue: #d4e5ee;
  --green: #dceddb;
  --purple: #e9dfee;
  --orange: #fadec9;
  --pink: #f5dfe8;
  padding: 1rem;
}

#gantt-grid-container__time {
  display: grid;
  overflow-x: auto;
  outline: 0.5px solid var(--color-outline);
}

.cohortDuration {
  position: absolute;
  height: calc(var(--cell-height) - 1px);
  z-index: 1;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  outline: none;
  cursor: pointer;
}

.dragging {
  opacity: 0.5;
}

#gantt-grid-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  outline: 2px solid var(--color-outline);
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}

#gantt-grid-container__cohorts {
  outline: 0.5px solid var(--color-outline);
}

.gantt-cohort-row {
  display: flex;
  outline: 0.5px solid var(--color-outline);
  justify-content: center;
  align-items: center;
  height: var(--cell-height);
  border: none;
}

.gantt-course_name {
  font-size: small;
}
