@import '/app/globals.scss';

.currentuser {
  cursor: pointer;
  position: relative;
  color: $primary-color;
  &_content {
    font-size: 0.8rem;
    display: none;
    position: absolute;
    width: 120%;
    top: 100%;
    right: 0;
    background-color: $secondary-color;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      padding: 0.5rem 1.5rem;
      border-top: solid 1px rgba($primary-color, 0.25);
    }
    li:hover {
      background-color: white;
    }
  }
}

.open {
  .currentuser_content {
    display: block;
  }
}

.message_wrap {
  display: none;
}
.messageOpen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.8);
  padding-top: 5em;
  padding-bottom: 5em;
  .message_popup {
    position: relative;
    z-index: 100;
    width: 50vw;
    height: fit-content;
    border: 2px solid $primary-color;
    border-radius: 10px;
    background-color: white;
    form {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      h3 {
        text-align: center;
      }
      textarea {
        height: 30vh;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid $primary-color;
        border-radius: 5px;
      }
      textarea:focus {
        outline: 2px solid $primary-color;
      }
    }
    &_btn {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      background-color: $primary-color;
      color: white;
      border-radius: 5px;
    }
    &_btn:hover {
      background-color: rgba($primary-color, 0.8);
    }
  }
}

.currentuser_btn {
  &_user {
    background-color: Transparent;
    color: $gray;
    border: 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    img {
      border-radius: 50%;
    }
  }
  &_user:hover {
    background-color: Transparent;
    color: black;
    border: none;
  }
}

.message_close_button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background-color: $primary-color;
  color: white;
  border-radius: 0 8px 0 0;
}

@media (max-width: 1000px) {
}

@media (max-width: 480px) {
}
